.tabs-container {
    background-color: #fff;
    border-radius: 10px;
  width: calc(812px - 150px);
  box-sizing: border-box;
  box-shadow: 
  0 8px 12px rgba(0, 0, 0, 0.2),    
  -4px 0 8px rgba(0, 0, 0, 0.1),  
  4px 0 8px rgba(0, 0, 0, 0.1);
  height: 50dvh;
  padding: 10px;
  margin-top: 15px;
  /* overflow: auto; */

  
  }
  
  .tabs {
    display: flex;
    position: relative;
    border-bottom: 0px solid #ccc;
    /* background-color: red; */
    
  }
  
  .tab {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: #fff;
    color: #999;
    font-weight: 900;
    font-size: 17px;
    font-style: italic;
  }
  
  .tab.active {
    color: #63a3e7;
    font-weight: bold;
  }
  
  .tab:hover {
    color: #76abf1;
  }
  
  .indicator {
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 10px;
    background-color: #007bff81;
    transition: left 0.3s ease;
    width: calc(100% / 3 - 2px); /* Adjust width to fit within the container */
  }
  
  .tab-content {
    padding: 20px;
    max-height: 40dvh;
    /* border: 1px solid #ccc; */
    border-top: none;
    background-color: #ffffff;
    overflow: auto;
    flex-shrink: 3;
    flex: 1;
    scrollbar-width: none;
  }
  
  .tab-content p {
    margin: 0;
  }